*{
  margin:0;
  padding:0;}
  
  body{
  font-family:arial;
  font-size:14px;
  color:#fff;
  background: #333;}
  
  #wrap{
  width:100%;
  height:auto;
  text-align: center;
  margin-top: 50px;}

  #wrap h2{
      font-size: 24px;
      font-weight: normal;
  }

  #main{
      width: 30%;
      height: auto;
      background: gold;
      margin: auto;
      border-radius: 4px;
  }
  #main p{
      margin: 0;
  }
  #main p span{
      font-size: 100px;
      font-weight: bold;
      color:red;
  }
  #main button{
      font-size: 18px;
      margin-bottom: 30px;
  }
  
  